* {
	margin: 0;
	padding: 0;
}
body {                                                /* *normal*/
	background-color:var(--primary-color);                     /* !this is so cool*/
	color: var(--secondary-color);                     /*?what am i supposed to do*/
	font-family: 'Poppins', sans-serif;              /* todo: dance*/
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 78px;
	background-color: var(--color);
}
nav ul {
	display: flex;
	justify-content: center;
}
nav ul li {
	list-style: none;
	margin: 0px 73px;
}
img#sun{
	height: 30px;
    width: 30px;
    cursor: pointer;
}
:root{
	--primary-color:#121825;
	--secondary-color:rgb(147, 140, 140);
	--color:rgb(33, 33, 52);
	--main:rgb(96, 161, 219);
	--expo:aqua;
}
.light-theme{
	--primary-color:rgb(234, 234, 245);
	--secondary-color:rgb(20, 20, 39);
	--color:rgb(194, 194, 219);
	--main:rgb(40, 77, 109);
	--expo:rgb(16, 18, 119);
}

.right {
	font-size: 2rem;
}
.first {
	display: flex;
	justify-content: space-around;
	margin: 90px 1px;
	align-items: center;
}
.leftsec {
	font-size: 2rem;
}
.rightsec img {
	background-color: rgb(239, 239, 239);
	border-radius: 50%;
	width: 70%;
}
.first > div {
	width: 37%;
}
#name {
	color: var(--main);
}
nav ul li a {
	text-decoration: none;
	color: var(--secondary-color);
	transition: 0.5s ease;
}
nav ul li a:hover {
	color: var(--main);
	font-size: 1rem;
	text-shadow: 0 0 1rem;
}
#element {
	color: var(--main);
}
.icon a {
	text-decoration: none;
	display: inline-flex;
	color: var(--secondary-color);
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
}
.icon a:hover {
	color: var(--main);
	box-shadow: 0 0 1rem;
}
.third {
	max-width: 80vw;
	height: 80vh;
	margin: 180px auto;
}
.third h1 {
	font-size: 2.5rem;
}
.third .box {
	width: 80vw;
	background: var(--expo);
	height: 1.5px;
	margin: 56px 0;
	box-shadow: 0rem 0.5rem 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.third .vertical {
	width: 1.5px;
	height: 10vh;
	background-color: var(--expo);
}
#edu,
#c,
#html {
	font-size: 2rem;
	color: white;
	position: relative;
	bottom: 35px;
	right: 15px;
	text-shadow: 0rem 0rem 1rem;
}
.class {
	position: relative;
	top: 45px;
	right: 20px;
	width: 100px;
	color: var(--main);
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	font-size: 22px;
}
.desc {
	position: relative;
	top: 43px;
	right: 20px;
	width: 190px;
}
.bio h1 {
	font-family: 'Ubuntu', sans-serif;
	color: var(--main);
	font-weight: 500;
	font-size: 36px;
	margin: 9px 5px;
}
.bio .line {
	width: 100px;
	height: 2px;
	background-color: var(--expo);
	margin: 1px 5px 30px 0;
	box-shadow: 0.5rem 0.5rem 1rem;
}
.bio .bax {
	width: 580px;
	height: 350px;
	margin: 49px 24px 18px 256px;
	background-color: var(--primary-color)
	border-radius: 15px;
	border-style: ridge;
	border-color: var(--primary-color);
}
.skillitem {
	width: 355px;
	height: 6px;
	background-color: rgb(63, 90, 90);
	border-radius: 15px;
	margin: 70px 30px 2px 87px;
}

#t1 {
	box-shadow: 0 0 1rem;
	background-color: var(--expo);
	width: 50%;
	height: 100%;
	border-radius: 15px;
}
#t2 {
	box-shadow: 0 0 1rem;
	background-color: var(--expo);
	width: 75%;
	height: 100%;
	border-radius: 15px;
}
#t3 {
	box-shadow: 0 0 1rem;
	background-color: var(--expo);
	width: 35%;
	height: 100%;
	border-radius: 15px;
}
#t4 {
	box-shadow: 0 0 1rem;
	background-color: var(--expo);
	width: 10%;
	height: 100%;
	border-radius: 15px;
}
.skillitem .skilldescp {
	position: relative;
	bottom: 39px;
}
